# Python

**pycache**/
*.pyc
*.pyo
*.pyd
venv/
.env

# FastAPI

*.log

# Temporary execution files

backend/temp/

# VS Code

.vscode/

# MacOS

.DS_Store

# Node

node_modules/

# Build files

dist/
build/

# Docker

*.tar
